body {
  background: #111;
  perspective: 200px;
  overflow: hidden;
}

p {
  font-family: sans-serif;
  font-size: 30px;
  color: #fcd000;
  font-weight: bold;
  width: 600px;
  max-width: 90vw;
  margin: 0 auto;
  transform: rotateX(30deg);
  animation: animateCrawl 35s linear forwards;
}

p span { 
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes animateCrawl {
    0%   { transform: rotateX(30deg) translateY(500px); }
    100% { transform: rotateX(30deg) translateY(-800px); }
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
    width: 90vw;
  }

  @keyframes animateCrawl {
    0%   { transform: rotateX(30deg) translateY(400px); }
    100% { transform: rotateX(30deg) translateY(-600px); }
  }
}

@media (max-width: 480px) {
  p {
    font-size: 15px;
  }
}